
.containerCard{
    display: flex;
    flex-direction: column;
    width: 100% !important;
    margin-top: 30px;
    border-radius: 8px;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
}
.container{
    width: 89%;
    margin:10px  0.6%;
    border-radius: 8px;
    /* border: 1px solid lightgray; */
}
.itemCard{
    width: 50%;
}
.Card{
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
}
h5{
    font-size: 14px;
}
.Avatar{
   padding-left: 20px;
   margin-top: 30px;
   width: 33%;
   border-radius: 50%;
   
}



