.container{
    width: 30%;
    height: 100vh;
    z-index: 10;
    position: fixed;
    background-color: #fff;
}
.container h2{
    display: flex;
    align-items: center;
    gap: 15px;
    font-size: 18px;
}
h2 i{
    width: 35px;
    height: 35px;
    background-color: blueviolet;
    color: #fff;
    border-radius: 50%;
    text-align: center;
    padding-top: 5px;
}
.container h3{
    cursor: pointer;
    width: 70%;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px;
    padding: 5px 40px;
    display: flex;
    gap: 10px;
    border-radius: 50px;
}
h3 i{
   color: red;
   padding: 5px;
}
.list{
    list-style-type: none;
    line-height: 2.5rem;
    margin: 20px 0;
    padding: 0;
}
.user{
    background-color: pink;
    border-radius: 20px;
    width: 80%;
}
li{
    cursor: pointer;
    padding: 0 25px;
}
li i{
  padding: 0 10px;
}
.book ,.faceBook,.address{
    border-bottom: 1px solid lightgray;
    width: 80%;
} 
@media only screen and (max-width: 767px) {
    .container h2{
        margin:10px 0 10px 50px;
    }
    .container h3{
      padding: 0;
      width: 80%;
      
    }
}

@media only screen and (min-width: 768px) {
    .container h2{
        margin:10px 0 10px 70px ;
    }
    .container h3{
        padding:  5px 5px 5px 20px;
        width: 80%;
        
      }
}
